@charset "utf-8";
body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(250,243,246,1.00);
}
h1, h2, h3, .logo {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;	
}
h1, .logo {
    font-weight: bolder;
    font-variant: small-caps;
	font-size: 36px;
    letter-spacing: 0px;
	line-height: 42px;
    word-spacing: 5px;
	margin-top: 30px;
	margin-bottom: 5px;
}
h2 {
    font-weight: 600;
	font-size: 28px;
    font-variant: small-caps;
	margin: 40px 0px 10px;
}
h2:first-child {
    margin-top: 0px;
}
h3 {
    font-weight: 600;
    font-variant: normal;
}
aside {
    letter-spacing: 2px;
    word-spacing: 5px;
	font-style: italic;
}
p {
	font-size: 16px;
	line-height: 32px;
	margin: 30px 0px;
}
cite {
	display: block;
}
.logo a {
	color: black;
	text-decoration: none;
}
.case-study aside {
	letter-spacing: 0px;
	opacity: 0.6;
}
main {
	width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.text {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 100px;
}
header {
    width: 80%;
	margin-left: auto;
	margin-right: auto;
}
header h1, header .logo {
    margin-bottom: 10px;
    border-bottom: medium solid rgba(41,65,96,1.00);
}
.skills, .about, .case-study {
    background-color: rgba(255,255,255);
    padding: 35px 50px;
    border-radius: 8px;
    margin: 60px 0px;
    line-height: 30px;
	box-shadow: -6px 6px 4px 1px rgba(244,230,236,1.00);
}
.skills-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.skills-list div ul {
	padding-left: 16px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 30px;
    border-top: medium solid rgba(41,65,96,1.00);
    margin-bottom: 100px;
    margin-top: 60px;
}
.thumbnail {
	text-align: center;
}
.thumbnail-img {
	height: auto;
	width: 80%;
}
.gal-img img {
	height: auto;
	width: 100%;
	display: block
}
.gal-img {
	transition: all 0.2s ease-in-out;
}
.gal-img:hover {
    transform: scale(1.05);
    -webkit-box-shadow: -6px 6px 4px 1px rgba(244,230,236,1.00);
    box-shadow: -6px 6px 4px 1px rgba(244,230,236,1.00);
}



footer {
    background-color: rgba(41,65,96,1.00);
	padding: 20px;
	margin-top: 40px;
}
.footer-content {
    width: 90%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.footer-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
.footer-content ul li {
    padding: 10px;
}
.footer-content ul li a {
	color: white;
	text-decoration: none;
}
.footer-content ul li a:hover {
	text-decoration: underline;
}
.study-section {
	margin-bottom: 60px;
}
.study-img {
	width: 100%;
	max-width: 1000px;
	margin: 40px auto;
	text-align: center;
}
.gallery-section .study-img img {
	max-height: 400px;
	width: auto;
}
.custom-graphics .study-img img {
	max-height: 300px;
	max-width: 70%;
	width: auto;
}
.study-img img, .study-img video {
    max-width: 100%;
	height: auto;
    max-height: 500px;
	margin: 0px 10px;
    -webkit-box-shadow: -4px 4px 4px rgba(217,217,217,0.77);
    box-shadow: -4px 4px 4px rgba(217,217,217,0.77);
}
.button {
	background-color: rgba(41,65,96,1.00);
	padding: 10px;
	border-radius: 8px;
	display: inline-block;
	text-decoration: none;
	color: white;
	height: fit-content;
	transition: all .2s ease;
	margin-bottom: 20px;
}
.bottom-home {
	text-align: center;
}
.button:hover {
	transition: all .2s ease;
	background-color: rgba(60, 85, 120, 1.0);
	transform: scale(1.1);
}
.summary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: top;
	gap: 20px;
	margin-top: 20px;
}
.summary p {
	margin: 0px;
}
figcaption {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.gallery {
		grid-template-columns: repeat(1, 1fr);
	}
	.thumbnail-img {
		width: 100%;
	}
	main {
		width: 90%;
	}
}
@media (max-width: 624px) {
	.skills-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
.button {
}
